{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
{% endif %}

<div class="password-powered-by">
  <div class="site-footer__copyright--bottom site-footer__subwrapper" style="margin: 0; padding-right: 0">
          <small class="site-footer__copyright-content" style="margin: 0; padding-right: 0">&copy;{{ 'now' | date: "%Y" }}, Rheem Manufacturing Company.</small>
        </div>
        <div class="site-footer__copyright--bottom site-footer__subwrapper" style="margin: 0; padding-right: 0">
        <small class="site-footer__copyright-content" style="margin: 0; padding-right: 0"><a href="http://www.wellsprinting.com/"><img src="https://cdn.shopify.com/s/files/1/0027/2636/3234/files/wells-block-1c.png?17716482652612498841" style="max-width= 50px; opacity: .2;"></a></small>
        </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Footer",
      "de": "Fußzeile",
      "fr": "Pied de page",
      "it": "Footer",
      "ja": "フッター",
      "es": "Pie de página",
      "pt-BR": "Rodapé"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "en": "Show social sharing buttons",
          "de": "Buttons für Social Media anzeigen",
          "fr": "Affichez les boutons de partage sur les médias sociaux",
          "it": "Mostra i pulsanti per la condivisione sui social",
          "ja": "ソーシャル共有ボタンを表示する",
          "es": "Mostrar botones para compartir en redes sociales",
          "pt-BR": "Exibir botões de compartilhamento em redes sociais"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": {
          "en": "Social sharing buttons heading",
          "de": "Titel für Social Media Buttons",
          "fr": "Titre des options de partage",
          "it": "Titolo dei pulsanti per la condivisione sui social",
          "ja": "ソーシャル共有ボタンの見出し",
          "es": "Título de botones para compartir en redes sociales",
          "pt-BR": "Exibir botões de compartilhamento em redes sociais"
        },
        "default": {
          "en": "Spread the word",
          "de": "Machen Sie Werbung",
          "fr": "Faites passer le mot",
          "it": "Spargi la voce",
          "ja": "言葉を広める",
          "es": "Riega la voz",
          "pt-BR": "Divulgue a novidade"
        }
      }
    ]
  }
{% endschema %}
